<%= simple_form_for(@building) do |b| %>
    <%= b.error_notification %>

    <div class="form-inputs">
      <%= b.association :room %>
      <%= b.input :title %>
      <%= b.input :code %>
    </div>

    <div class="form-actions">
      <%= b.button :submit, cancel: buildings_path %>
    </div>
<% end %>